<h1>Trackings</h1>

<%if @trackings %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Visitor UUID </th>
      <th scope="col">Visited Page </th>
      <th scope="col">Time Visited </th>
    </tr>
  </thead>
  <tbody>
    <% @trackings.each do |tracking| %>
      <tr class="tracking">
        <td> <%= tracking.uuid %> </td>
        <td> <%= tracking.page %> </td>
        <td> <%= tracking.created_at %> </td>
      </tr>
    <% end %>
  <tbody>
</table>
<% else %>
 <h3>No data yet</h3>
<% end %>